:root {
    --light: #ffffff;

    --dark: #000000;

    --dark-gray: #0F0F0F;

    --light-blue: #E9F3FF;
    --light-blue-2: #9AB4D5;

    --blue: #2e6edf;
    --blue-2: #004dc9;
    --blue-3: #2137b4;
}
